<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h3><%= @place.errors.count %> 件のエラーがあります。</h3>
      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "グランド名"  %>
  </div>

  <div class="field">
    <%= f.text_field :description, autofocus: true, class: "form-control", placeholder: "チーム名など" %>
  </div>
  <div class="field">
    <%= f.text_field :latitude, autofocus: true, class: "form-control", placeholder: "緯度" %>
  </div>
  <div class="field">
    <%= f.text_field :longitude, autofocus: true, class: "form-control", placeholder: "経度" %>
  </div>
  <div class="field">
    <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: "住所" %>
  </div>
  <div class="field">
    <%= f.text_field :information, autofocus: true, class: "form-control", placeholder: "情報" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "登録", class: "btn btn-warning btn-block" %>
  </div>
<% end %>
